# Ignore Credentials
includes/google-cloud-vision-api/sulat-ocr-key.json
includes/google-search-api/search-api.json
modules/openAI-key.json

# Ignore vendor folder inside includes/
includes/vendor/

# Optional: Ignore OS and IDE files
.DS_Store
node_modules/
.env
*.log
