# Ignore Credentials
includes/google-cloud-vision-api/sulat-ocr-key.json
modules/chatbot-handler.php

# Ignore vendor folder inside includes/
includes/vendor/

# Optional: Ignore OS and IDE files
.DS_Store
node_modules/
.env
*.log
